<!DOCTYPE html>
<html>
 <head>
 	<style>
h1{text-align: center;
   font-weight: bold;
   color: wheat;
   font-size: 230%;
   font-family: "Tangerine", serif;
   }





 	</style>
   <title> My Ruby Project  </title> 



 </head>


<body>
  <h1> The Cocktails' Archive </h1>

  <%= yield %>  


</body>


</html>