<!DOCTYPE html>
<html>
 <head>

	

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Graduate">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Asar">
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pridi">
 		

 	<link  href="/styles2.css" type="text/css" rel="stylesheet">
 	<style>
h1{text-align: center;
   font-weight: bold;
   color: white;
   font-size: 250%;
   font-family: 'Graduate', cursive;
   }





 	</style>
   <title> My Ruby Project  </title> 



 </head>


<body>
  

  <%= yield %>  

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="js/skrollr.js"></script>
<script src="js/_main.js"></script>
</body>


</html>