
<h2>
	


<div class="navigation">

<ul>
  <li><a class="active" href="#aboutid"> About</a></li>
  <li><a href="#contact"> Contact Form</a></li>
  <li><a href="#action"> Take Action</a></li>
  <li><a href="#quiz"> Quiz</a></li>
  <li><a href="#poll"> Poll</a></li>
  <li id="logo" style="float:right">STF.org</li>

  </ul>
</div>
<div class="2foto"
     </div>

<section id="section07" class="demo">
<a href="#section08"><span></span><span></span><span></span>Scroll</a>
<div  class="dolphinfoto">
  
  <h1 id="title">Set them Free</h1>
  
</section>
  
</div>

<div class="about" id="aboutid">
        <div class="firsth2">
         <h2> Dolphins & Whales in Captivity</h2> </div>
           <p id="firstp">We understand why people love dolphins and why many want to see them close up, but putting whales and dolphins in tanks for our ‘entertainment’ is wrong.Whales and dolphins are highly intelligent. They want and need to live in complex social groups. In captivity they will usually have been separated from their families, often in cruel hunts and some when they were very young.

           Wild whales and dolphins can swim up to 100 miles a day, hunting and playing. In captivity they have very little space and cannot behave naturally. A concrete tank can never replace their ocean home.



           <p id="firstp"> The mental, emotional and physical stress that captive whales and dolphins suffer can weaken their immune systems and make them prone to disease. Even though captive whales and dolphins are kept in an environment free of predators, pollution and other threats, they die young. The death rate for infant whales and dolphins is much higher in captivity.

            WITH YOUR SUPPORT WE MAKE A DIFFERENCE.

            We have been campaigning hard to stop holiday companies selling trips to SeaWorld and, with public support, we have made tremendous progress.

            Days after we launched our campaign to stop Virgin selling holidays to SeaWorld, Sir Richard Branson issued a statement instructing Virgin Holidays to stop working with any aquarium or theme park that continues to capture whales and dolphins from the wild or imports whales and dolphins taken from the wild after February 2014.

            Virgin also held an unprecedented multi-stakeholder meeting involving representatives from all sides of the captivity debate, including WDC, and issued a pledge against wild capture, which has been signed by more than 30 facilities holding whales and dolphins so far.
          </p>

           <p id="firstp">In 2014, we campaigned in partnership with WDC supporter, Kathleen Haase and change.org and gathered over 275,000 signatures asking British Airways to end its relationship with SeaWorld. In June 2015 we attended their parent company's annual board meeting to bring the issue to the attention of BA's shareholders and presented a series of questions to the board.

           In March 2016, SeaWorld made a historic announcement. It will end its orca breeding programme and stop the theatrical performances. We celebrate this news and are proud of the part we have played in bringing SeaWorld to this decision. However, nothing changes for the 119 whales and dolphins of other species held by SeaWorld. These 'forgotten dolphins' will still be bred and forced to perform. Our focus is now on them, and the 29 orcas still kept at marine parks by SeaWorld.

            We are renewing our call on BA to stop supporting this cruel industry. You can help by signing and sharing our petition now.

           <p>
           WHAT ELSE HAVE WE ACHIEVED?

As well as supporting vital studies of wild whales and dolphins, WDC has run many successful campaigns around the world against captivity. In 2012, we took 30,000 origami dolphins to present to the European Parliament to demonstrate the strength of support for an end to captivity in Europe. We have already seen success with a number of countries such as Croatia and Slovenia banning the practice. We've helped prevent the establishment of captive facilities in the Caribbean while India has also banned whale and dolphin captivity. 

In recent years, WDC has been at the forefront of the campaign to stop Georgia Aquarium's attempts to import 18 wild-caught beluga whales from Russia. After US officials turned down the application, WDC helped defend the case in court when the Aquarium appealed. Once again we were successful and finally in November 2015 the Aquarium announced it would no longer pursue the case. In June 2016, the Aquarium announced it would no longer take whales and dolphins from the wild.</p>

           <p>WHY SHOULDN'T WHALES AND DOLPHINS BE IN TANKS?

           Captive whales and dolphins have been trained to perform tricks for food instead of behaving naturally. When not performing, they are often kept in holding tanks smaller than show pools. Confining individuals together can result in stress and aggression with no possible escape.

Capture of whales and dolphins from the wild is brutal. Entire pods may be targeted and many individuals killed or injured. Only the young and fit are taken. These are the future generations for already vulnerable wild populations and their loss has a hugely negative impact on group dynamics.

We have no right to put these amazing creatures in captivity. Captive whale and dolphin shows are not education, or conservation. Stress and disturbing behaviour is common amongst dolphins displayed in dolphinaria. Captivity is all about making money. </p>

There are many fantastic opportunities to see whales and dolphins in the wild both from land and with a responsible boat operator, so help us end captivity and keep whales and dolphins wild. </p>

          

</div>




<div id="contact" class="container">
  <h2 id="contactheader"> Contact Form</h2>
  <form method="post" action="/contact">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="fname" placeholder="Your name.." required="required">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lname" placeholder="Your last name.." required="required">

    <label for="email">E-mail:</label>
    <input type="text" id="email" name="email"  placeholder="Your email.." required="required">


    <label for="country">Country</label> 
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="united Kingdom">United Kingdom</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select><br>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea><br>

    <input type="submit" value="Submit">

  </form>
</div>




<div id="quiz" method="post" action="/quiz_submission" class="quiz_form">
  <h2 id="quizheader">QUIZ</h2><br>

<h4 id="pollh4"> 1) What do you call a baby dolphin?  </h4><br>

<form action="/quiz_submission" name="quiz_submission" method="Post"> 
 <input type="radio"name="babydolphin" value="Calf" checked> <label> Calf </label><br>
 <input type="radio"name="babydolphin" value="Cub" checked><label> Cub </label><br>
 <input type="radio"name="babydolphin" value="Chick" checked> <label>Chick</label> <br><br>

<h4 id="pollh4"> 2) How do dolphin/whale trainers force the animals to practice and perform unnatural entertainment shows? </h4><br>
<input type="radio"name="train" value="electrical zaps" checked><label> Electrical zaps</label> <br>
 <input type="radio"name="train" value="food deprivation" checked> <label>Food deprivation</label> <br>
<input type="radio"name="train" value="Audio, or sound torture" checked><label>Adio, or sound, torture</label><br><br>


<h4 id="pollh4"> 3) Which country has the most captive dolphins?</h4><br>
<input type="radio" name="captive" value="Japan" checked><label> Japan</label><br>
<input type="radio" name="captive" value="India" checked><label> India</label><br>
<input type="radio" name="captive" value="the united states" checked><label> The United States</label><br><br>

<h4 id="pollh4"> 4) Dolphins in the wild travel how many miles per day?</h4><br>
<input type="radio" name="miles" value="40 miles" checked><label> 40 miles</label><br>
<input type="radio" name="miles" value="25 miles" checked><label> 25 miles</label><br>
<input type="radio" name="miles" value="10 miles" checked><label> 10 miles</label><br>
<br>

<h4 id="pollh4"> 5) Which country became the first to ban all animals, wild or domestic, from circuses?</h4><br>
<input type="radio" name="ban" value="Norway" checked><label> Norway</label><br>
<input type="radio" name="ban" value="Greece" checked><label> Greece</label><br>
<input type="radio" name="ban" value="Bolivia" checked><label> Bolivia</label><br>
<br>

<h4 id="pollh4"> 6) In 2013, how much do Sea World visitors pay for the 20-minute “Dolphin
Interaction” experience?</h4><br>
<input type="radio" name="pay" value="USD 40" checked><label> USD 40</label><br>
<input type="radio" name="pay" value="USD 100" checked><label> USD 100</label><br>
<input type="radio" name="pay" value="USD 215" checked><label> USD 215</label><br>
<br>

<input type="submit" value="Submit" />
</form>


</div>

</div>




<div>
<form id="poll" method="post" action="http://poll.pollcode.com/16482595">
  <h3>Take the Poll</h3>
  <div style="padding:20px 20px 20px 20px;" maxheight=700px;><strong>Are you for or against dolphins' and whales' captivity?</strong></div>
  <input type="radio" name="answer" value="1" id="answer164825951" style="float:left;" /><label for="answer164825951" style="float:left;width:265px;">For</label><div style="clear:both;height:2px;"></div>
  <input type="radio" name="answer" value="2" id="answer164825952" style="float:left;" /><label for="answer164825952" style="float:left;width:265px;">Against</label><div style="clear:both;height:2px;"></div><div align="center" style="padding:3px;">
  <input type="submit" value=" Vote ">&nbsp;<input type="submit" name="view" value=" View "></div>
</form>

</div>










<!--
<h3 class="info"> Sign up to our newsletter!  </h3>

<div class="contact_form" >


<form method="post" action="/signup">

<label for="name">Name: </label>

<input type="text" id="name" name="name" value="" placeholder="Rob P

askin" required="required" autofocus="autofocus"/>

<label for="email">Email address: </label>

<input type="email" id="email" name="email" value="" placeholder="ro

b@example.com" required="required"/>

<input type="submit" value="submit" id="submit-button">

</form>
</div>

-->

