
<h2>
	


<div class="navigation">

<ul>
  <li><a class="active" href="#aboutid"> About</a></li>
  <li><a href="#action"> Take Action</a></li>
  <li><a href="#quiz"> Quiz</a></li>
  <li><a href="#contact"> Sign Up</a></li>
  <li><a href="#poll"> Poll</a></li>
  <li id="logo" style="float:right">STF.org</li>

  </ul>
</div>
<div class="2foto"
     </div>

<section id="section07" class="demo">
<a href="#section08"><span></span><span></span><span></span>Scroll</a>
<div  class="dolphinfoto">
  
  <h1 id="title">Set them Free</h1>
  
</section>
  
</div>

<div class="about" id="aboutid">
  <div class="margin"></div>
        <div class="firsth2">
         <h2> Dolphins & Whales: The Sea Prisoners</h2> </div><br><br>
           <p id="firstp">We understand why people love dolphins and why many want to see them close up, but putting whales and dolphins in tanks for our ‘entertainment’ is wrong.Whales and dolphins are highly intelligent. They want and need to live in complex social groups. In captivity they will usually have been separated from their families, often in cruel hunts and some when they were very young. Capture of whales and dolphins from the wild is brutal. Entire pods may be targeted and many individuals killed or injured. Only the young and fit are taken. These are the future generations for already vulnerable wild populations and their loss has a hugely negative impact on group dynamics.

        
           <p id="firstp"> The mental, emotional and physical stress that captive whales and dolphins suffer can weaken their immune systems and make them prone to disease. Even though captive whales and dolphins are kept in an environment free of predators, pollution and other threats, they die young. The death rate for infant whales and dolphins is much higher in captivity.
           

          </p><br>

           
           <h4 id="aboutheaders">WHAT HAS BEEN ACHIEVED?</h4><br>
    
    <p id="firstp">
           Many organisations have been campaigning hard to stop holiday companies selling trips to SeaWorld and, with public support, we have made tremendous progress. As well as supporting vital studies of wild whales and dolphins, there have been many successful campaigns around the world against captivity. In 2012, 30,000 origami dolphins to  were presented to the European Parliament to demonstrate the strength of support for an end to captivity in Europe. We have already seen success with a number of countries such as Croatia and Slovenia banning the practice. We've helped prevent the establishment of captive facilities in the Caribbean while India has also banned whale and dolphin captivity. 

          In recent years, there has been a campaign to stop Georgia Aquarium's attempts to import 18 wild-caught beluga whales from Russia. After US officials turned down the application, WDC helped defend the case in court when the Aquarium appealed. Finally, in November 2015 the Aquarium announced it would no longer pursue the case. In June 2016, the Aquarium announced it would no longer take whales and dolphins from the wild.</p><br>

           <h4 id="aboutheaders">WHY SHOULDN'T WHALES AND DOLPHINS BE IN TANKS?</h4><br>

           <p id="firstp">
 
           A life in a tank is so far removed from a cetacean’s natural environment that the effect this has on their mental and physical state is almost inconceivable. Wild whales and dolphins can swim up to 40 miles a day, hunting and playing. In captivity they have very little space and cannot behave naturally. A concrete tank can never replace their ocean home.
 
          In the wild, orca have been documented to travel more than 9,400 km in 42 days and reach speeds of 30 miles per hour. The largest tank in the world is only 70m long.  The deepest recorded dive for an orca is more than 400 meters, the deepest tank in the world housing an orca is ~12m.
 
         Tanks are many times noisier than the ocean, the glass and concrete walls inhibit the natural use of sound by whales and dolphins and the water and cooling pumps are heard underwater 24 hours a day.
 
         Naturally cetaceans live in social groups, however in captivity many are kept alone – for example, Kshamenk is an orca who has lived alone for 21 years in captivity, Lolita has been alone for 34 years out of her 42 years in captivity and mothers and calves are regularly separated.
 
          Nothing in their evolution has prepared whales or dolphins for life in captivity. Captive whales and dolphins have been trained to perform tricks for food instead of behaving naturally. When not performing, they are often kept in holding tanks smaller than show pools. Confining individuals together can result in stress and aggression with no possible escape.The result is abnormal behaviours, injury, illness, premature death and aggression, not to mention the mental suffering. <br><br>

    <h4 id="aboutheaders"> YOUR CHOICE THEIR RIGHTS</h4><br>
        <p id="firstp">
           We have no right to put these amazing creatures in captivity. Captive whale and dolphin shows are not education, or conservation. Stress and disturbing behaviour is common amongst dolphins displayed in dolphinaria. Captivity is all about making money. There are many fantastic opportunities to see whales and dolphins in the wild both from land and with a responsible boat operator, so help us end captivity and keep whales and dolphins wild. </p>

</div>          

</div>


<div class="takeaction" id="action">
<div class="margin">
  <h2 id="quizheader">Support animal's rights in captivity</h2><br><br>

  <h4>Visit the "Whales & Dolphins in Captivity organisation" and help by donating money or/and... even adopting a whale or dolphin!</h4>
  <a id="button" href="http://uk.whales.org/donate-and-adopt">Click Here</a><br>

  <h4>Visit "Ric O' Barry's Dolphin Project" and support the organisation in many different ways</h4>
  <a id="button" href="https://dolphinproject.net/donate/">Click Here</a><br><br>



  <h3 id="mostimp">AND MOST IMPORTANTLY!</h3>
  <h3 id="center">DO NOT SUPPORT AQUARIUMS</h3>
</div>
</div>

<div id="contact" class="container">
  <h2 id="contactheader"> Sign Up</h2>
  <form method="post" action="/contact">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="fname" placeholder="Your name.." required="required">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lname" placeholder="Your last name.." required="required">

    <label for="email">E-mail:</label>
    <input type="text" id="email" name="email"  placeholder="Your email.." required="required">


    <label for="country">Country</label> 
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="united Kingdom">United Kingdom</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
      <option value="spain">Spain</option>
      <option value="italy">Italy</option>

    </select><br>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea><br>

    <input type="submit" value="Submit">

  </form>
</div>




<div id="quiz" method="post" action="/quiz_submission" class="quiz_form">
  <h2 id="quizheader">QUIZ</h2><br>

<h4 id="pollh4"> 1) What do you call a baby dolphin?  </h4><br>

<form action="/quiz_submission" name="quiz_submission" method="Post"> 
 <input type="radio"name="babydolphin" value="Calf" checked> <label> Calf </label><br>
 <input type="radio"name="babydolphin" value="Cub" checked><label> Cub </label><br>
 <input type="radio"name="babydolphin" value="Chick" checked> <label>Chick</label> <br><br>

<h4 id="pollh4"> 2) How do dolphin/whale trainers force the animals to practice and perform unnatural entertainment shows? </h4><br>
<input type="radio"name="train" value="electrical zaps" checked><label> Electrical zaps</label> <br>
 <input type="radio"name="train" value="food deprivation" checked> <label>Food deprivation</label> <br>
<input type="radio"name="train" value="Audio, or sound torture" checked><label>Adio, or sound, torture</label><br><br>


<h4 id="pollh4"> 3) Which country has the most captive dolphins?</h4><br>
<input type="radio" name="captive" value="Japan" checked><label> Japan</label><br>
<input type="radio" name="captive" value="India" checked><label> India</label><br>
<input type="radio" name="captive" value="the united states" checked><label> The United States</label><br><br>

<h4 id="pollh4"> 4) Dolphins in the wild travel how many miles per day?</h4><br>
<input type="radio" name="miles" value="40 miles" checked><label> 40 miles</label><br>
<input type="radio" name="miles" value="25 miles" checked><label> 25 miles</label><br>
<input type="radio" name="miles" value="10 miles" checked><label> 10 miles</label><br>
<br>

<h4 id="pollh4"> 5) Which country became the first to ban all animals, wild or domestic, from circuses?</h4><br>
<input type="radio" name="ban" value="Norway" checked><label> Norway</label><br>
<input type="radio" name="ban" value="Greece" checked><label> Greece</label><br>
<input type="radio" name="ban" value="Bolivia" checked><label> Bolivia</label><br>
<br>

<h4 id="pollh4"> 6) In 2013, how much do Sea World visitors pay for the 20-minute “Dolphin
Interaction” experience?</h4><br>
<input type="radio" name="pay" value="USD 40" checked><label> USD 40</label><br>
<input type="radio" name="pay" value="USD 100" checked><label> USD 100</label><br>
<input type="radio" name="pay" value="USD 215" checked><label> USD 215</label><br>
<br>

<input type="submit" value="Submit" />
</form>


</div>

</div>




<div>
<form id="poll" method="post" action="http://poll.pollcode.com/16482595">
  <h3 id="quizheader">Take the Poll</h3>
  <div style="padding:20px 20px 20px 20px;" maxheight=700px;><strong>Are you for or against dolphins' and whales' captivity?</strong></div>
  <input type="radio" name="answer" value="1" id="answer164825951" style="float:left;" /><label for="answer164825951" style="float:left;width:265px;"> For</label><div style="clear:both;height:2px;"></div>
  <input type="radio" name="answer" value="2" id="answer164825952" style="float:left;" /><label for="answer164825952" style="float:left;width:265px;"> Against</label><div style="clear:both;height:2px;"></div><div align="center" style="padding:3px;">
  <input type="submit" value=" Vote ">&nbsp;<input type="submit" name="view" value=" View "></div>
</form>

</div>












