 <h2>Which cocktail suits you the most?</h2>
 <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Give You Glory">
<style>
h2{
	color: CadetBlue;
	font-size: 30px;
}
body{ background-image: url("https://images5.alphacoders.com/409/409133.jpg");
      background-repeat: no-repeat;
      background-size: 1200px; }

 h4{  font-family: "Give You Glory", sans-serif;
      color: midnightblue; 
      font-size: 20px;
  }     
input[type=radio] {
    color: white;
    font-size: 10px;
     }

</style>


<div class="quiz_form">
<h4> <li> Which color do you like the most? </li> </h4>

<form action="/quiz_submission" name="quiz_submission" method="POST"> 
 <input type="radio"name="color" value="red" checked> <label> Red </label><brb>
 <input type="radio"name="color" value="gold" checked><label> Gold </label><brb>
 <input type="radio"name="color" value="white" checked> <label>White</label> <brb>

<h4> <li> What would your friends describe you most like? </li></h4>
<input type="radio"name="trait" value="seductive" checked><label> Seductive</label> <brb>
 <input type="radio"name="trait" value="confident, fun-loving" checked> <label>Confident </label> <brb>
<input type="radio"name="trait" value="Intelligent" checked><label>Intelligent  </label><brb>
<input type="radio" name="trait" value="Fun,loving" checked><label>Fun,loving </label><brb>

<h4><li> What would you be most likely doing on a Friday night?</li></h4>
<input type="radio" name="time" value="Partying" checked><label> Partying</label><brb>
<input type="radio" name="time" value="Write a novel/book" checked><label> Write a novel/poem</label><brb>

<h4><li>Do you drink with a straw, or straight from the glass?</li></h4>
<input type="radio" name="way" value="With a straw" checked><label> With a straw</label><brb>
<input type="radio" name="way" value="Straight from the glass" checked><label> Straight from the glass</label><brb>
<br>

<input type="submit" value="Submit" />
</form>


</div>
