 <h2>Which cocktail suits you the most?</h2>
<style>
h2{
	color: CadetBlue;
	font-size: 30px;
}
body{ background-image: url("http://hdwallpaperbackgrounds.net/wp-content/uploads/2015/10/free-fire-water-cocktail-hd-wallpapers-1280x800.jpg");
      background-repeat: no-repeat;
      background-size: 1200px; }

 h4{  font-family: "Shadows Into Light", sans-serif;
      color: cadetblue; 
      font-size: 20px;
  }     
input[type=radio] {
    color: white;
    font-size: 10px;
     }

</style>

<h4> <li> Which color do you like the most? </li> </h4>
<form> 
 <input type="radio"name="color" value="red" checked> Red <brb>
 <input type="radio"name="color" value="orange" checked> Orange <brb>
 <input type="radio"name="color" value="white" checked> White <brb>
 </form>

<h4> <li> What would your friends describe you most like? </li></h4>
<form>
<input type="radio"name="trait" value="seductive" checked> Seductive <brb>
 <input type="radio"name="trait" value="confident, fun-loving" checked> Confident, Fun-loving <brb>
<input type="radio"name="trait" value="Intelligent " checked> Red <brb>
</form>



