<head>

<h1>YOOU GOT SIX</h1>

<h2>1 -> Calf</h2>
<h2>2 -> Food Deprivation</h2>
<h2>3 -> The United States</h2>
<h2>4 -> 40 miles</h2>
<h2>5 -> Bolivia</h2>
<h2>6 -> USD 215</h2>
<style>

*{
	background-color: red;
}
</style>
</head>